.section {
    background-color: lemonchiffon;
}

.headers {
    color: darkblue;
}

img{
    width: 200px;
    height: 200px;
}
#email {
    background-color: goldenrod;
}

#github {
    background-color: lightsteelblue
}

#portfolio {
    background-color: darkorange;
}
